/* 데스크톱 화면용 스타일 */

/* 전체 폰트 스타일 */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

/* 제목 스타일 */
h1 {
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0;
}

/* 입력 폼 스타일 */
form {
  margin: 1rem;
  text-align: center;
}

label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  display: block;
}

input[type="text"] {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  width: 100%;
}

button {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
  margin-bottom: 1rem;
  width: 95%;
  height: 20vh;
  font-size: 20px;
}
.button-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -0.5rem;
  gap: 1rem;
  width: 100%;
}
button:hover {
  background-color: #0069d9;
}

/* 결과 출력 영역 스타일 */
#building-code,
#api-data {
  margin: 0.5rem;
  font-size: 1rem;
}

#api-url {
  margin-top: 1rem;
  font-size: 0.8rem;
  font-style: italic;
}

#map {
  width: 100%;
  height: 300px;
  margin-top: 1rem;
}

/* 모바일 화면용 스타일 */
@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }
  
  h1 {
    font-size: 1.5rem;
  }
  
  form {
    margin: 0.5rem;
  }
  
  input[type="text"] {
    font-size: 1rem;
    padding: 0.4rem;
  }
  
  button {
    width: 80%;
    height: 10vh;
    font-size: 16px;
  }
  .button-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -0.5rem;
  gap: 1rem;
  width: 100%;
}
}
