header {
  background-color: #333;
  color: white;
  padding: 7px;
  text-align: center;
}
nav {
  background-color: #f2f2f2;
  padding: 5px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav li {
  float: left;
}
nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.output {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
}

.output-wrapper {
  height: 100%;
  width: 100%;
  border: none;
  padding: 20px;
  box-sizing: border-box;
}

/* //기존코드// */
/* 1style.css */

@media (max-width: 767px) {

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #fff;
    padding: 10px;
    margin: 0 auto; /* 중앙 정렬 */
    height: 100%;
    width: 100%;
    font-size: 1rem;
  }
  ul {
    display: block;
    list-style-type: none;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
    
  }
  
  ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
  }
  
  li {
    display: list-item;
    text-align: -webkit-match-parent;
    
  }
  
  
  #url-input {
    width: 100%;
  }
  
  
  #search-btn {
    width: 90%;
    height: 65px;
    margin-top: 1vh;
    font-size: 2.5rem;
  }
  
  #share-btn {
    width: 45%;
    height: 30px;
    margin-top: 1.2vh;
    font-size: 1rem;
  }
  
  #button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 0.9rem;
  }
  
  #button-row {
    width: 90%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1vh;
    font-size: 2rem;
  }
  
  #submit-btn,
  #submit-btn2 {
    width: 48%;
    font-size: 1.1rem;
  }
  
  #result {
    margin-top: 1.5vh;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc; /* 테두리 추가 */
    font-size: 1.3rem;
    
  }
  
  #result ul {
    font-size: 1.2rem;
  }
  
  #result li {
    font-size: 1rem;
  }
  
  #mapResult p {
    margin-top: 1vh;
    color: blue;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  #infoButton {
    margin-top: 1vh;
    font-size: 0.8rem;
    width: 95%;
  }
  #makerInfo {
    margin-top: 1.5vh;
    font-size: 0.8rem;
  }
  .hidden {
    display: none;
  }
  
  #loading {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  #loadInfo {
    margin-top: 1.2vh;
    color: blue;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .accordion {
    cursor: pointer;
    transition: 0.4s;
    width: 100%;
    height: 6vh;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1.5vh;
  }
  .accordion::before {
    content: "▼";
    float: right;
    right: 3vh;
    transition: transform 0.3s;
  }
  
  .accordion.active::before {
    transform: rotate(180deg);
  }
  
  .panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  
  }


  /* //PC화면// */

  /*1*/

@media (min-width: 768px) {

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #fff;
    padding: 10px;
    margin: 0 auto;
    /* 중앙 정렬 */
    height: 100%;
    width: 100%;
    font-size: 1rem;
  }

  ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

  }

  ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }

  li {
    display: list-item;
    text-align: -webkit-match-parent;

  }

  #search-btn {
    width: 90%;
    height: 10vh;
    margin-top: 2vh;
    font-size: 45px;
  }

  #share-btn {
    width: 45%;
    height: 80px;
    margin-top: 1.5vh;
    font-size: 30px;
  }

  #url-input {
    width: 100%;
  }

  #button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 25px;
  }

  #button-row {
    width: 90%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5vh;
    font-size: 30px;
  }

  #submit-btn,
  #submit-btn2 {
    width: 48%;
    font-size: 30px;
  }

  #result {
    margin-top: 1.5vh;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    /* 테두리 추가 */
    font-size: 1rem;

  }

  #result ul {
    font-size: 2rem;
  }

  #result li {
    font-size: 1rem;
  }

  #mapResult p {
    margin-top: 1.5vh;
    color: blue;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #infoButton {
    margin-top: 1.5vh;
    font-size: 20px;
    width: 95%;
  }

  #makerInfo {
    margin-top: 1.5vh;
    font-size: 15px;
  }

  .hidden {
    display: none;
  }

  #loading {
    font-size: 20px;
    margin-top: 10px;
  }

  #loadInfo {
    margin-top: 1.5vh;
    color: blue;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .accordion {
    cursor: pointer;
    transition: 0.4s;
    width: 100%;
    height: 6vh;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1.5vh;
  }

  .accordion::before {
    content: "▼";
    float: right;
    right: 3vh;
    transition: transform 0.3s;
  }

  .accordion.active::before {
    transform: rotate(180deg);
  }

  .panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

}