/*1*/

@media (min-width: 768px) {

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #fff;
    padding: 10px;
    margin: 0 auto;
    /* 중앙 정렬 */
    height: 100%;
    width: 100%;
    font-size: 1rem;
  }

  ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

  }

  ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }

  li {
    display: list-item;
    text-align: -webkit-match-parent;

  }

  #search-btn {
    width: 90%;
    height: 10vh;
    margin-top: 2vh;
    font-size: 45px;
  }

  #share-btn {
    width: 45%;
    height: 80px;
    margin-top: 1.5vh;
    font-size: 30px;
  }

  #url-input {
    width: 100%;
  }

  #button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 25px;
  }

  #button-row {
    width: 90%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5vh;
    font-size: 30px;
  }

  #submit-btn,
  #submit-btn2,
  #submit-btn3 {
    width: 32%;
    font-size: 30px;
  }

  #result {
    margin-top: 1.5vh;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    /* 테두리 추가 */
    font-size: 1rem;

  }

  #result ul {
    font-size: 2rem;
  }

  #result li {
    font-size: 1rem;
  }

  #mapResult p {
    margin-top: 1.5vh;
    color: blue;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #infoButton {
    margin-top: 1.5vh;
    font-size: 20px;
    width: 95%;
  }

  #makerInfo {
    margin-top: 1.5vh;
    font-size: 15px;
  }

  .hidden {
    display: none;
  }

  #loading {
    font-size: 20px;
    margin-top: 10px;
  }

  #loadInfo {
    margin-top: 1.5vh;
    color: blue;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .accordion {
    cursor: pointer;
    transition: 0.4s;
    width: 100%;
    height: 6vh;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1.5vh;
  }

  .accordion::before {
    content: "▼";
    float: right;
    right: 3vh;
    transition: transform 0.3s;
  }

  .accordion.active::before {
    transform: rotate(180deg);
  }

  .panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
/* 1. 좌우의 여백은 각각 1% */
table {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  border-collapse: collapse;
}

/* 2. 테이블의 1번열은 좌우 15%, 2번열은 10%, 3번 열은 20%, 4번 열은 55%를 차지하도록 수정 */
table th:nth-child(1),
table td:nth-child(1) {
  width: 15%;
}

table th:nth-child(2),
table td:nth-child(2) {
  width: 10%;
}

table th:nth-child(3),
table td:nth-child(3) {
  width: 20%;
}

table th:nth-child(4),
table td:nth-child(4) {
  width: 55%;
}

/* 3. 지상과 지하층 사이에는 굵은 선으로 구분할 것 */
table tr[data-divider="true"] td {
  border-top: 2px solid #000;
}

/* 4. 1층을 기준으로 5개 행 마다 선을 그어서 구분할 것 */
table .ground-floor~tr:nth-child(5n) td {
  border-bottom: 1px solid #ccc;
}

}