/* 전체에 대한 스타일링 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  padding: 10px;
}

#search-btn {
  width: 80%;
  height: 35px;
  margin-top: 20px;
}

#url-input {
  width: 100%;
}

#mapResult p {
  color: blue;
}

#button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

#button-row {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}

#submit-btn,
#submit-btn2 {
  width: 48%;
  height: 30px;
  margin-top: 10-px;
}

